.main-nav:after {
    content: "\e902";
    font-family: 'icomoon';
    speak: none;
    position: fixed;
    top: 0px;
    right: 0;
}

@media screen and (min-width: 640px){
    .main-nav:after {
        content: "";
        display: table;
        clear: both;
      }
}

.pull-right{
    display: 'block';
}

@media screen and (min-width:640px){
    .pull-right{
        float: right;
    }
}

.byline {
    display: flex;
}

.mainTitle{
    margin-top: 0px;
    padding-top: 30px;
}